*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Welcome {
    display: flex;
    flex-direction: column;
    background-color: #F2D398;
}

.navbar {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    background-color: #0E4C59;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.line {
    display: flex;
    width: 100%;

    border: 6px solid #111C26;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.b-title {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 20px;
    margin-left: 15px;
}

.path {
    display: flex;
    flex-direction: row;
    background-color: #F2D398;
    align-items: center;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1430px;
}

.pathtext {
    margin-left: 20px;
    text-decoration: underline;
    font-family: Roboto;
    font-size: 18px;
}

.header {
    display: flex;
    background-color: #D9D3B8;
    position: static;
    top: 0;
    width: 100%;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
}

.heading1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #111C26;
    font-family: Roboto;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    height: 98px;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-style: Roboto;
    background-color: #9e0031;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    border: black solid 2px;
    height: 98px;
    left: 0;
}

.heading2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto, bold;
    font-weight: bolder;
    color: #111C26;
    font-size: 50px;
    margin-left: 35px;
}

.info {
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
}

.decor {
    left: fixed;
    width: 100%;
    background-color: #0E4C59;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
}

.subcontent {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    top: 0;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 1500px;
    background-color: #F2D398;
}

.imgportfolio {
    display: flex;
    height: 450px;
    width: 1268px;
    margin-top: 150px;
}

.profilepic {
    display: flex;
    width: 60%;
    height: 90%;
    border-style: outset;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right: white solid 5px;
    border-bottom: white solid 5px;
    margin-top: 20px;

    margin-left: 50px;
}

.about {
    display: flex;
 
    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 2rem;
 
    color: #FFFFFF;

    margin-left: 35px;
    margin-top: 25px;

}

.profilepara {
    display: flex;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 70px;
    font-family: Roboto;
    font-size: 25px;
    line-height: 38px;

    color: #FFFFFF;
}

.subcontent {
    display: flex;
    flex-direction: column;
    background-color: #F2D398;
}

.info2 {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    width: 264px;
    height: 76px;
    margin-top: 40px;
    margin-left: 35px;
}

.button2 {
    display: flex;
    width: 264px;
    margin-top: 15px;
    margin-bottom: 14px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.img {
    height: 580px;
    width: 420px;
    overflow: hidden;
}

.img2 {
    height: 800px;
    overflow: hidden;
}

.img3 {
    width: 159px;
}

.img4 {
    display: flex;
    flex-direction: column;
    width: 159px;
}

.img5 {
    display: flex;
    flex-direction: column;
    width: 159px;
    margin-top: -10px;
}

.footer {
    background-color: #0E4C59;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 95px;
    bottom: 0px;
}

.Contactinfo {
    color: white; 
    line-height: 35px;
    margin: 65px;
}

.Site {
    color: white; 
    line-height: 35px; 
    margin-top: 65px;
    margin-right: 500px;
}

.servicesinfo {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding-left: 65px;
    line-height: 40px;
    font-size: 18px;
}

.servicesinfo ul {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 50px;
    font-size: 28px;
    margin-left: 150px;
}

.servicesinfo2 {
    display: flex;
    flex-direction: column;
    background-color: #F2D398;
    width: 1500px;
    padding-left: 45px;
    line-height: 40px;
    font-size: 18px;
}

.servicebutton {
    display: flex;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 14px;
    margin-left: 130px;
}

.subheading {
    display: flex;
    margin-top: 75px;
    margin-left: 130px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
    color: #FFFFFF;
    text-align: center;
}

.subheading2 {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}
.active {
    text-decoration: underline;
    border: white double 3px;
}

.title {
    margin-left: 35px;
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.box {
    background-color: #B58D41;
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box2 {
    background-color: #B58D41;
    padding-top: 20px;
    padding-left: 30px;
    padding: 20px;
}

.boxpara {
    color: white;
    margin-left: 35px;
    font-size: 20px;
    font-family: Roboto;
    margin-top: 10px;
}

.timeline {
    text-align: center;
    font-size: 50px;
    font-style: Roboto;
    margin-top: 70px;
    background-color: #9e0031;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 50px;
}

.category {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-left: 100px;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.category2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 40px;
    margin-left: 30px;
}

.f-title {
    font-size: 30px;
}