body {
    background-color: #F2D398;
    width: 100%;
}

.welcome {
    position: absolute;
    width: 1108px;
    height: 297px;
    left: 145px;
    top: 10px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 270px;
    line-height: 319px;

    color: #111C26;

}

.name {
    position: absolute;
    width: 1174px;
    height: 200px;
    left: 169px;
    top: 260px;

    font-family: Abhaya Libre Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 180px;
    line-height: 212px;

    color: #2D4459;

}

.title {
    position: absolute;
    width: 1124px;
    height: 89px;
    left: 169px;
    top: 480px;

    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 88px;

    color: #111C26;

}

.title2 {
    width: 100%;
    height: 42px;
    left: 155px;
    top: 236px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 42px;

    color: #111C26;

}

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 20px;
}

.display {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 650px;

    background: #111C26;
}

.active {
    text-decoration: underline;
    font-weight: bolder;
    border: white solid 2px;
}

.button1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 70px;
    top: 600px;

}

.button2 {
    position: absolute;
    width: 264px;
    height: 76px;
    left: 780px;
    top: 600px;

}

.button3 {
    position: absolute;
    width: 456px;
    height: 132px;
}

.welcomepage {
    position: relative;
    width: 1512px;
    height: 982px;

    background: #F2D398;
}

.heading {
    position: absolute;
    width: 100%;
    height: 253px;
    left: 0px;
    top: 0px;

    background: #D9D3B8;

}

.quote {
    position: absolute;
    width: 1138px;
    height: 186px;
    left: 218px;
    top: 38px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 93px;
/* or 124% */
    text-align: right;

    color: #111C26;

}

.nav {
    position: absolute;
    width: 100%;
    height: 125px;
    left: 0px;
    top: 253px;

    background: #0E4C59;

    display: flex;
    justify-content: center !important;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.nav ul li{
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.nav ul li a:hover{
    font-weight: bolder;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.subheading {
    position: absolute;
    width: 100%;
    height: 98px;
    left: 0px;
    top: 375px;

    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 40px;
}

.profilepic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 60px;
    top: 70px;
}

.about {
    position: absolute;
    width: 425px;
    height: 119px;
    left: 600px;
    top: 100px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 113px;

    color: #FFFFFF;

}

.aboutpara {
    position: absolute;
    width: 630px;
    height: 1308px;
    left: 620px;
    top: 220px;

    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 55px;
/* or 133% */

    color: #FFFFFF;

}

.back {
    position: absolute;
    top: 400px;
    left: 30px;
}

.breadcrumb {
    position: absolute;
    top: 420px;
    left: 135px;
    background-color: #DAC5C0;
    text-decoration: underline;
}

.resume {
    position: absolute;
    left: 400px;
    top: 10px;
}

.subheading2 {
    position: absolute;
    width: 100%;
    height: 125px;
    top: 520px;
    left: 120px;
    padding-top: 40px;
    padding-left: 35px;
}

.line {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 510px;

    border: 6px solid #111C26;
}

.serviceheading {
    position: absolute;
    width: 100%;
    height: 119px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 113px;

    color: #F0F2F0;
}

.servicepoints {
    position: absolute;
    width: 100%;
    height: 119px;

    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;

    color: #F0F2F0;
}

.footer {
    position: absolute;
    width: 100%;
    height: 420px;
    left: 0px;
    top: 1700px;

    background: #0E4C59;
}

.footerheading {
    position: absolute;
    width: 100%;
    height: 46px;
    left: 55px;
    top: 30px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */

    color: #FFFFFF;

    text-decoration: none;

}

.sitelist {
    position: absolute;
    width: 868px;
    height: 203px;
    left: 85px;
    top: 100px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */

    color: #FFFFFF;

    text-decoration: none;

}

.footerheading2 {
    position: absolute;
    width: 100%;
    height: 46px;
    left: 1000px;
    top: 30px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */

    color: #FFFFFF;

    text-decoration: none;
}

.sitelist2 {
    position: absolute;
    width: 868px;
    height: 203px;
    left: 1000px;
    top: 100px;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */

    color: #FFFFFF;

    text-decoration: none;
}

.site a {
    color: #FFFFFF!important; 
    text-decoration: none!important;
}