body {
    margin: 0em;
    font-family: 'Roboto', sans-serif;
    background-color: #D9D3B8;
}

.w-title {
    font-size: 4.5rem;
    text-align: center;
    color: #111C26;
    margin: 1rem 0.5rem;
}

.w-subtitle {
    font-size: 3rem;
    text-align: center;
    color: #111C26;
    margin: 1rem 0.5rem;
}

.w-para {
    font-size: 1.3rem;
    text-align: center;
    color: #111C26;
}

.Buttons img {
    width: 18em;
    display: flex;
    padding: 1em;
}

.Buttons {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0.8em;
}

.header img {
    width: 6rem;
    height: auto;
}

.header h1 {
    font-size: 1em;
    margin-left: 0.3em;
}

.navi {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 8vh;
    background-color: #0E4C59;
    padding: 0.2em;
    overflow-y: hidden;
}

.navi svg {
    display: flex;
    justify-items: flex-end;
    width: 2em;
    cursor: pointer;
    fill: white; 
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #0E4C59;
    height: 100vh;
    width: 50%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

nav ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1.5em 2em;
    display: block;
    width: 100%;
}

nav ul li a:hover {
    font-weight: bolder;
    background-color: white;
    color: #0E4C59;
    box-shadow: 0 0 10px white;
}

.close {
    float: right;
    margin: 1em;
    width: 2em;
    fill: white;
}

.hero {
    padding-top: 1em;
}

.page-title {
    font-size: 2.3em;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.banner {
    animation: introLoad2 6s forwards; 
}

.line {
    display: flex;
    width: 100%;

    border: 1px solid #111C26;

    animation: introLoad 2s forwards;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1em;
}

.a-info {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    background-color: #0E4C59;
    padding-top: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.a-title {
    margin-bottom: 0.5em;
}

.a-para {
    font-size: 0.5em;
    line-height: 1.9em;
    margin-top: 0.1em;
}

.content img {
    width: 8rem;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    border-style: outset;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right: #32161F solid 5px;
    border-bottom: #32161F solid 5px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0E4C59;
    color: white;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: 1em;
}

footer ul {
    list-style-type: none;
}

.f-title {
    font-size: 1em;
    font-weight: bold;
}

.f-list {
    font-size: 0.6em;
    line-height: 2.9em;
    margin-left: -2em;
}

.Site {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.open-nav {
    transform: translateX(0%);
}

@media only screen and (min-width: 375px) {
    header svg {
        display: flex;
        justify-items: flex-end;
        width: 2.5em;
        cursor: pointer;
        fill: white; 
    }
}

@media only screen and (min-width: 400px) {
    .navi {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 8vh;
        background-color: #0E4C59;
        padding: 0.5em;
    }
}

@media only screen and (min-width: 600px) {
    .navi {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 8vh;
        background-color: #0E4C59;
        padding: 1em;
    }

    .a-info {
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        background-color: #0E4C59;
        padding-top: 1.2em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .a-para {
        font-size: 0.7em;
        line-height: 2em;
        margin-top: 0.1em;
    } 

    .Buttons {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .f-title {
        font-size: 1.3em;
        font-weight: bold;
    }

    .f-list {
        font-size: 0.7em;
        line-height: 2em;
    }

    .Site {
        margin-left: 4em;
        display: flex;
        flex-direction: column;
    }

    .navi {
        height: 8vh;
        display: flex;
        align-items: center;
    }

    .navi svg.menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }

    nav ul {
        display: flex;
        margin: 0;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 0.8em 1.2em;
        display: block;
        width: 100%;
        height: auto;
        font-size: 1em;
    }

    nav ul li a:hover {
        font-weight: bolder;
        background-color: white;
        color: #0E4C59;
        box-shadow: 0 0 10px white;
    }

    nav svg.close {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 1.5em;
        margin-left: 1em;
    }

    .header svg {
        display: flex;
        justify-items: flex-end;
        width: 1em;
        cursor: pointer;
        fill: white; 
    }

    .header img {
        width: 7rem;
        height: auto;
        margin-left: 1em;
    }

    .hero {
        margin-top: 1em;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3em;
        margin-bottom: 1em;
    }

    .content img {
        width: 16rem;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .a-title {
        margin-bottom: 0.5em;
        font-size: 2.3em;
    }

    .a-para {
        font-size: 1em;
        line-height: 2em;
        margin-top: 0.1em;
    } 

    .page-title {
        font-size: 2.8em;
        margin-left: 1.5rem;
        margin-top: 0.5rem;
    }

    footer {
        padding-top: 1.5em;
        padding-left: 1.5em;
    }

    .f-title {
        font-size: 1.3em;
        font-weight: bold;
    }

    .f-list {
        font-size: 0.8em;
        line-height: 2.2em;
    }

    .Site {
        margin-left: 10em;
    }

    .navi {
        height: 8vh;
        display: flex;
        align-items: center;
    }

    .navi svg.menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }

    nav ul {
        display: flex;
        margin: 0;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 0.8em 1.2em;
        display: block;
        width: 100%;
        font-size: 1.2em;
    }

    nav ul li a:hover {
        font-weight: bolder;
        background-color: white;
        color: #0E4C59;
        box-shadow: 0 0 10px white;
    }

    nav svg.close {
        display: none;
    }

}

@media only screen and (min-width: 900px) {
    .page-title {
        font-size: 3em;
        margin-left: 1.5rem;
        margin-top: 0.5rem;
    }

    .a-title {
        font-size: 2em;
    }

    .a-para {
        font-size: 1.1em;
        line-height: 2em;
        margin-top: 0.1em;
    } 

    .a-info {
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        background-color: #0E4C59;
        padding-top: 1.2em;
        padding-left: 1.4em;
        padding-right: 3em;
    }

    .content img {
        width: 15rem;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

}


@media only screen and (min-width: 1000px) {
    .header h1 {
        font-size: 1.8em;
        margin-left: 1em;
    }

    .page-title {
        font-size: 4em;
        margin-left: 2.2rem;
        margin-top: 0.5rem;
    }

    .a-title {
        font-size: 2.5em;
    }

    .a-para {
        font-size: 1.3em;
        line-height: 2em;
        margin-top: 0.1em;
    } 

    .Buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        margin-left: 2em;
    }

    .Buttons img {
        width: 25em;
        display: flex;
        padding: 1em;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2em;
        margin-bottom: 1.3em;
    }

    footer {
        padding-top: 2em;
    }

    .f-title {
        font-size: 1.8em;
        font-weight: bold;
        margin-left: 0.3em;
    }

    .f-list {
        font-size: 1em;
        line-height: 2.3em;
        margin-left: 0.1em;
    }

    .Site {
        margin-left: 10em;
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (min-width: 1440px) {
    .header img {
        width: 10rem;
        height: auto;
    }

    .header h1 {
        font-size: 2.3em;
        margin-left: 1.5em;
    }

    .hero {
        margin-top: 2em;
    }

    .line {
        display: flex;
        width: 100%;
    
        border: 2px solid #111C26;
    
        animation: introLoad 3s forwards;
    }

    .navi {
        height: 8vh;
        display: flex;
        align-items: center;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 0.8em 1.2em;
        display: block;
        width: 100%;
        font-size: 1.5em;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2.5em;
        margin-bottom: 1.3em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .content img {
        width: 20rem;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .a-info {
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        background-color: #0E4C59;
        padding-top: 1.8em;
        padding-left: 1.8em;
        padding-right: 3em;
    }

    .a-title {
        font-size: 2.7em;
    }

    .a-para {
        font-size: 1.5em;
        line-height: 2em;
        margin-top: 0.1em;
    } 

    .f-title {
        font-size: 2em;
        font-weight: bold;
        margin-left: 0.3em;
    }

    .f-list {
        font-size: 1.4em;
        line-height: 2.3em;
        margin-left: 0.1em;
    }

    .Site {
        margin-left: 20em;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 2560px) {
    .header img {
        width: 20rem;
        height: auto;
    }

    .header h1 {
        font-size: 4em;
        margin-left: 1.5em;
    }

    .hero {
        margin-top: 3em;
    }

    .navi {
        display: flex;
        align-items: flex-start;
        width: 100%;
        background-color: #0E4C59;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 3em;
        padding-right: 0em;
        margin-bottom: 2em;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 0.8em 1.2em;
        display: block;
        width: 100%;
        font-size: 2.2em;
    }

    .line {
        display: flex;
        width: 100%;
    
        border: 4px solid #111C26;
    
        animation: introLoad 4s forwards;
    }

    .page-title {
        font-size: 7em;
        margin-left: 3.7rem;
        margin-top: 0.5rem;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3.5em;
        margin-bottom: 3.5em;
        margin-left: 1.7em;
        margin-right: 1.7em;
    }

    .content img {
        width: 90rem;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .a-title {
        font-size: 5em;
    }

    .a-info {
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        background-color: #0E4C59;
        padding-top: 3em;
        padding-left: 3em;
        padding-right: 3em;
    }

    .a-para {
        font-size: 2.7em;
        line-height: 2em;
        margin-top: 0.1em;
        padding-right: 2em;
    } 

    .content img {
        width: 70rem;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
        border-style: outset;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right: #32161F solid 7px;
        border-bottom: #32161F solid 7px;
    }

    .Buttons {
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        margin-bottom: 5em;
        margin-left: 2em;
    }

    .f-title {
        font-size: 3.2em;
        font-weight: bold;
        margin-left: 1em;
        margin-top: 0.6em;
    }

    .f-list {
        font-size: 2.3em;
        line-height: 2.5em;
        margin-left: 1.2em;
        margin-top: 0.6em;
    }

    footer {
        padding-top: 3.5em;
    }

    .Site {
        margin-left: 28em;
    }

    .Buttons img {
        width: 45em;
        display: flex;
        padding: 1em;
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes introLoad2 {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}




